Calificacion Dada:
	<p> </p>
	<p> <%= @valorar.calificacion %> </p>

Comentario asociado:
	<p> </p>
	<p> <%= @valorar.comentario %> </p>

<h2 style="color: blue"><%= link_to 'Volver a valoraciones dadas a hospedajes', valorateguests_path%></h2>
