#Sign_up{
	text-align: center;
	width: 300px;
  	margin: 15px auto;
  	padding: 25px;
  	border: solid blue 10px;
}

#Log_in{
	text-align: center;
	width: 300px;
  	margin: 15px auto;
  	padding: 20px;
  	border: solid blue 10px;
}

#modificar_datos{
	text-align: center;
	width: 500px;
  	margin: 15px auto;
  	padding: 25px;
  	border: solid blue 10px;
}