<header>
      <div class="container">
        <div class="navbar-header">
          <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag "http://static.tumblr.com/5473d74e35693e4a261933b04b13080e/vhrhomj/eAknuqhz5/tumblr_static_7fu7jer965gk4w4cok4ooo4cw_2048_v2.png", title: "Logo", class: "logo",:width => 600, :height => 150%>
          <% end %>
        </div>
        <div class="collapse navbar-collapse">
          
        </div><!--/.nav-collapse -->
      </div>
 </header>